* {
  margin: 0 auto;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

:root {
  --main--red: #f44336;
  --main--white-text: #fff;
  --main--black-text: #333;
  --main--grey-background: #f5f5f5;
  --mobile--font--size: 14px;
  --mobile--logo-width: 150px;
  --mobile--searchinput--width: 308px;
  --mobile--searchinput--height: 40px;
  --mobile--category--width: 142px;
  --mobile--category--height: 30px;
  --mobile--watchlist--width: 100px;
  --mobile--watchlist--height: 40px;
  --mobile--watchlist--button--width: 25px;
  --mobile--movie-card-width: 150px;
  --mobile--movie-card-height: 210px;
  --mobile--pagination--width: 100px;
  --mobile--pagination--height: 30px;
  --desktop--font--size: 15px;
  --desktop--logo-img-width: 150px;
  --desktop--logo-img-height: 150px;
  --desktop--searchinput-width: 270px;
  --desktop--searchinput-height: 30px;
  --desktop--category--width: 150px;
  --desktop--category--height: 30px;
  --desktop--watchlist--width: 150px;
  --desktop--watchlist--height: 40px;
  --desktop--watchlist--button--width: 25px;
  --desktop--movie-card-width: 200px;
  --desktop--movie-card-height: 300px;
  --desktop--movie--footer--width: 200px;
  --desktop--movie--footer--height: 46px;
  --desktop--sidebar-movie-width: 50px;
  --desktop--sidebar-movie-height: 70px;
  --desktop--sidebar-card-height: 70px;
  --desktop--sidebar-card-width: 250px;

  --pagination--line--border--empty: #e0e0e0;
  --pagination--line--border--fill: #f44336;
}

@font-face {
  font-family: ubuntu;
  src: url(/fonts/ubuntu/ubuntu-regular-webfont.woff);
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

body {
  min-height: 100vh;
  position: relative;
}

/* collective styles */
.spinner {
  border-radius: 50%;
  position: absolute;
  top: 10%;
  left: 38%;
  width: 75px;
  height: 75px;
  animation: spinner 2s infinite linear;
  border: 2px dashed var(--main--red);
  z-index: 1;
}

#main__container {
  max-width: 85%;
  width: 100%;
  font-size: var(--mobile--font--size);
}

#application__header--container {
  display: grid;
  width: 100%;
  max-width: fit-content;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 0.7em;
  padding-top: 1em;
}

/* ---------- LOGO ---------- */
#brand__container {
  display: flex;
  margin: initial;
  align-items: baseline;
  width: fit-content;
  grid-column: 1/2;
  grid-row: 1/2;
}

#brand__container .logo img {
  /* width: 100px; */
  width: var(--mobile--logo-width);
  padding: 0;
}

/* ---------- SEARCHBAR ---------- */

#searchbar__container {
  grid-column: 1/3;
  grid-row: 2/3;
}
#searchbar__container input {
  width: var(--mobile--searchinput--width);
  height: var(--mobile--searchinput--height);
  padding: 0 0 0 1em;
  box-sizing: border-box;
}

/* ---------- GENRE ---------- */

#categories__container {
  display: flex;
  grid-row: 3/4;
  grid-column: 1/3;
  margin: initial;
}
#genre__container select {
  padding-left: 1em;
  width: var(--mobile--category--width);
  height: var(--mobile--category--height);
}

/* ---------- YEAR ---------- */
#year__container select {
  padding-left: 1em;
  width: var(--mobile--category--width);
  height: var(--mobile--category--height);
}

/* ---------- search button ---------- */

#search__btn--container {
  width: fit-content;
  grid-column: 1/3;
}

#search__btn--container .search--btn {
  width: fit-content;
  margin-right: 0;
}
#search__btn--container .submit--btn {
  font-weight: bold;
  background-color: var(--main--red);
  border: none;
  color: var(--main--white-text);
  width: 140px;
  height: 40px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

#search__btn--container .submit--btn:hover {
  background-color: #db4a40;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

/* ---------- WATHCLIST BUTTON ---------- */

#watchlist__container {
  grid-column: 2/3;
  grid-row: 1/2;
  margin: auto;
}
#watchlist__container .watchlist .watchlist--btn {
  font-weight: bold;
  background-color: var(--main--red);
  border-radius: 5px;
  color: var(--main--white-text);
  border: none;
  outline: none;
  width: var(--mobile--watchlist--width);
  height: var(--mobile--watchlist--height);
  transition: all 0.5s ease-in-out;
}
#watchlist__container .watchlist .watchlist--btn:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  background-color: #db4a40;
}

/* --------- results message ---------- */
#results__message--container {
  grid-column: 1/3;
}

/* ---------- NO RESULTS ERROR CONTAINER --------- */

#no__movies--error {
  max-width: fit-content;
  text-align: center;
  grid-column: 1/3;
  margin: 3em auto;
}

#no__movies--error img {
  width: 300px;
}

/* ---------- MOVIE CONTAINER SECTION ---------- */

#application__movies--container {
  position: relative;
}

#movies__container {
  max-width: fit-content;
  padding: 2em 0;
  display: grid;
  row-gap: 1em;
  column-gap: 0.5em;
  position: relative;
  grid-template-columns: repeat(2, 1fr);
}
#movies__container .movie--card {
  position: relative;
}
#movies__container .movie--card img {
  border: 1px solid black;
  width: var(--mobile--movie-card-width);
  height: var(--mobile--movie-card-height);
}

#movies__container .movie--card .add--to-watchlist-btn {
  position: absolute;
  top: -0.5em;
  left: -0.5em;
}
#movies__container .movie--card .add--to-watchlist-btn .watchlist--btn:hover {
  cursor: pointer;
  border: 1px solid lightgreen;
}

.watchlist--btn {
  border: none;
  outline: none;
  color: var(--main--white-text);
  background-color: var(--main--red);
  width: var(--mobile--watchlist--button--width);
  height: var(--mobile--watchlist--button--width);
  border-radius: 50%;
}

/* ---------- DESKTOP MOVIE CARD STYLING ------------- */

#movies__container .movie--card .card--footer {
  transform: translateY(-3.3em);
  display: flex;
  color: white;
  align-items: center;
  width: var(--desktop--movie--footer--width);
  height: var(--desktop--movie--footer--height);
  background-color: var(--main--red);
}

#movies__container .movie--card .card--footer .card--footer-title {
  margin-left: 1em;
}
#movies__container .movie--card .card--footer .card--footer-btn {
  margin-right: 1em;
}
#movies__container
  .movie--card
  .card--footer
  .card--footer-btn
  .watchlist--btn {
  width: var(--desktop--watchlist--button--width);
  border: 1px solid white;
  display: flex;
  font-weight: bold;
  margin: auto;
  align-items: center;
  justify-content: center;
}

#movies__container
  .movie--card
  .card--footer
  .card--footer-btn
  .watchlist--btn:hover {
  border: 2px solid lightgreen;
}

/* ---------- MOVIE CARD PLACEHOLDER ---------- */
#movies__container .movie--card-placeholder img {
  width: var(--mobile--movie-card-width);
  height: var(--mobile--movie-card-height);
}

/* -----------  PAGINATION ----------- */

#pagination__container {
  text-align: center;
  grid-column: 1/3;
  width: 100%;
}
#pagination {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

#pagination::before {
  content: "";
  background-color: var(--pagination--line--border--empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--pagination--line--border--fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid var(--pagination--line--border--empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--pagination--line--border--fill);
}

#pagination__container .btn {
  background-color: var(--pagination--line--border--fill);
  color: white;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
  transition: all 0.5s ease-in-out;
}

#pagination__container .btn:hover {
  background-color: #db4a40;
  transition: all 0.5s ease-in-out;
}
#pagination__container .btn:active {
  transform: scale(0.98);
}
#pagination__container .btn:focus {
  outline: none;
}
#pagination__container .btn:disabled {
  background-color: var(--pagination--line--border--empty);
  cursor: not-allowed;
}

/* ---------- TOP MOVIES BAR ---------- */
#application__sidebar--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 2em;
  margin-left: 0;
}
#application__sidebar--container h6 {
  padding: 0 0 0.5em 0;
  font-size: var(--desktop--font--size);
}
#application__sidebar--container ul li {
  display: flex;
  align-items: center;
  list-style: none;
  width: var(--desktop--sidebar-card-width);
  height: var(--desktop--sidebar-card-height);
  border: 1px solid black;
}
#application__sidebar--container ul li span {
  margin-left: 0em;
}
#application__sidebar--container ul li img {
  width: var(--desktop--sidebar-movie-width);
  height: var(--desktop--sidebar-movie-height);
  margin: 0;
  padding-right: 0.5em;
}
#application__sidebar--container ul li:nth-child(even) {
  background-color: var(--main--grey-background);
}

/* ---------- FOOTER --------- */
#footer__container {
  margin-top: 2em;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  background-color: var(--main--grey-background);
}

#footer {
  display: flex;
  align-items: center;
  width: fit-content;
  color: #999;
}

/* ----------media queries ---------- */

/* mobile styles */
@media screen and (min-width: 620px) {
  #application__header--container {
    row-gap: 2em;
    padding-top: 1em;
    align-items: center;
  }
  #brand__container {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  #searchbar__container {
    grid-row: 2/3;
    grid-column: 2/3;
  }
  #searchbar__container input {
    border-radius: 1em;
    border: 1px solid black;
    height: var(--desktop--searchinput-height);
  }
  #categories__container {
    /* margin: auto; */
    grid-row: 2/3;
    grid-column: 1/2;
  }
  #watchlist__container {
    grid-row: 1/2;
  }
  #movies__container {
    row-gap: 1em;
    column-gap: 1em;
    grid-template-columns: repeat(4, 1fr);
  }
  #application__sidebar--container {
    margin: 3em auto;
    width: fit-content;
  }

  /* --------- results message ---------- */
  #results__message--container {
    margin-left: 0;
    grid-column: 1/5;
  }
  /* ---------- NO RESULTS ERROR CONTAINER --------- */

  #no__movies--error {
    grid-column: 1/5;
    margin: 4em auto;
  }

  #no__movies--error img {
    width: 350px;
  }

  /* ---------- spinner---------- */
  .spinner {
    top: 29%;
    left: 45%;
  }

  /* ---------- TOP MOVIES BAR ---------- */
  #application__sidebar--container ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 0.5em;
    row-gap: 0.5em;
  }

  /* ---------- WATHCLIST BUTTON ---------- */

  #watchlist__container {
    grid-column: 2/3;
    margin-right: 0;
  }

  #watchlist__container .watchlist .watchlist--btn {
    width: var(--mobile--watchlist--width);
    height: var(--mobile--watchlist--height);
  }

  /* ---------- SEARCH BUTTON ---------- */
  #search__btn--container {
    width: 200px;
    grid-column: 1/3;
    grid-row: 3/4;
  }

  /* ---------- PAGINATION --------- */
  #pagination__container {
    grid-column: 1/5;
  }
}

/* desktop styles */
@media screen and (min-width: 1200px) {
  body {
    display: flex;
  }
  #main__container {
    max-width: fit-content;
    width: 100%;
    margin-right: 5em;
    font-size: var(--desktop--font--size);
  }
  /* ---------- LOGO ---------- */

  #brand__container .logo img {
    width: var(--desktop--logo-img-width);
    height: var(--desktop--logo-img-height);
    padding: 0;
  }

  /* ---------- TITLE ---------- */

  #brand__container .title h1 {
    font-size: var(--desktop--logo--font-size);
  }
  /* ---------- SEARCHBAR ---------- */

  #searchbar__container {
    width: 300px;
    display: flex;
  }
  #searchbar__container input {
    border-radius: 1em;
    border: 1px solid black;

    width: var(--desktop--searchinput-width);
    height: var(--desktop--searchinput-height);
  }
  /* ---------- GENRE ---------- */

  #categories__container {
    margin-left: 0;
  }

  #genre__container select {
    width: var(--desktop--category--width);
    height: var(--desktop--category--height);
  }

  /* ---------- YEAR ---------- */
  #year__container select {
    width: var(--desktop--category--width);
    height: var(--desktop--category--height);
  }
  /* ---------- WATHCLIST BUTTON ---------- */
  #watchlist__container {
    margin-right: 0;
    grid-column: 3/4;
  }
  #watchlist__container .watchlist .watchlist--btn {
    width: var(--desktop--watchlist--width);
    height: var(--desktop--watchlist--height);
  }

  #search__btn--container {
    grid-row: 2/3;
    grid-column: 3/4;
    width: 200px;
  }

  /* --------- results message ---------- */
  #results__message--container {
    margin-left: 0;
    grid-column: 1/5;
  }

  /* ---------- NO RESULTS ERROR CONTAINER --------- */

  #no__movies--error {
    grid-column: 1/5;
    margin: 5em auto;
  }

  /* ---------- spinner---------- */
  .spinner {
    top: 20%;
    left: 45%;
  }

  /* ---------- MOVIE CONTAINER SECTION ---------- */

  #movies__container {
    padding: 2em 0 1em 0;
    row-gap: 1em;
    column-gap: 1em;
  }
  #movies__container .movie--card img {
    border: 1px solid black;
    width: var(--desktop--movie-card-width);
    height: var(--desktop--movie-card-height);
  }

  .watchlist--btn {
    width: var(--desktop--watchlist--button--width);
    height: var(--desktop--watchlist--button--width);
  }

  #application__sidebar--container {
    margin-top: 4em;
    margin-left: 0;
  }
  /* ---------- TOP MOVIES BAR ---------- */
  #application__sidebar--container ul {
    display: block;
  }

  /* ---------- MOVIE CARD PLACEHOLDER ---------- */
  #movies__container .movie--card-placeholder img {
    width: var(--desktop--movie-card-width);
    height: var(--desktop--movie-card-height);
  }

  /* ---------- PAGINATION --------- */
  #pagination__container {
    grid-column: 1/5;
    margin-bottom: 5em;
  }

  /* ----------- FOOTER ---------- */
  #footer__container {
    position: absolute;
    bottom: 0;
  }
}
